<table class="season-overall-strength-table">
    <thead>
        <tr>
            <th>Parameter Type</th>
            <th>Season</th>
            <th>Team Name</th>
            <th>Division Name</th>
            <th>Conference Name</th>
            <th>Median</th>
        </tr>
    </thead>
    <tbody>
        {% for strength in strengths %}
        <tr>
            <td>{{ strength.parameter_type }}</td>
            <td>{{ strength.season }}</td>
            <td>{{ strength.team_nm }}</td>
            <td>{{ strength.division_nm }}</td>
            <td>{{ strength.conference_nm }}</td>
            <td>{{ strength.median }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
